<!-- INDEX of All events  -->
<!-- Features: Add Event link Click Event name for single view -->

<h1>Events </h1>

<!-- Link to Add event  -->
<%= link_to 'Add Event', new_event_path %>

<!-- iterate through all events and show each  -->
<% @events.each do |event| %>
<div class="event">

  <h3><%= link_to event.name, event_path(event) %></h3>

  <p>
    DATE: <%= event.date %>
  </p>

<% if event.capacity != nil %>
  <p>
    Capacity: <%= event.capacity %>
  </p>
<% end %>
</div>

<% end %>
