// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: helvetica;
}

div.home-column { text-align: center;
                  width:45%;
                  float: left;
                  margin:auto;
                  padding: 2%;
                  background-color: lightgray;

}

.home-column h1 {
  border-bottom: 5px solid white}

.left { border-right: 5px dashed gray}
